body {
    font-family: 'Lato', sans-serif;
    color: $color3;
    letter-spacing: 1px;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: $color3;
}
h1 {
    font-size: 50px;
    line-height: 1.5;
    padding-top: 70px;
}
h2 {
    font-size: 24px;
    line-height: 1.5;
}
h3 {
    font-size: 22px;
    font-weight: normal;
    padding: 40px 0;
    line-height: 1.5;
}
h4 {
    font-size: 18px;
    font-weight: normal;
}
small {
    font-size: 13px;
}
.border {
    border-bottom: 1px solid lightgrey;
}
.poster {
    @include width100;
}
.illustration {
    height: 200px;
}
.link {
    font-size: 20px;
    color: $color4;
    &:after {
        content: "\2192";
    }
    &:hover {
        color: $color5;
    }
}
.small-link:hover {
    color: $color4;
}
.small-link:after {
    content: "\2192";
}
.btn {
    padding: 5px 20px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid $color4;
    background-color: $color4;
    color: $color1;
    transition-duration: 0.3s;
    &:hover {
        background-color: $color5;
        border: 1px solid $color5;
        color: $color1;
        cursor: pointer;
    }
    &-white {
        @extend .btn;
        padding: 5px 10px;
        background-color: $color1;
        color: $color4;
    }
    .btn-text {
        position: relative;
        bottom: 3px;
    }
}
