body {
    font-family: 'Lato', sans-serif;
    color: $color3;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    color: $color3;
}
.btn {
    padding: 5px 20px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid $color4;
    background-color: $color4;
    color: $color1;
    transition-duration: 0.3s;
    &:hover {
        background-color: $color5;
        border: 1px solid $color5;
        color: $color1;
    }
    &-white {
        @extend .btn;
        padding: 5px 10px;
        background-color: $color1;
        color: $color4;
    }
    .btn-text {
        position: relative;
        bottom: 3px;
    }
}
